[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 13.0
[submodule "gestion-formation"]
	path = gestion-formation
	url = git@github.com:emoro24/odoo.git
	branch = master-dev
[submodule "OCA/social"]
	path = OCA/social
	url = git@github.com:OCA/social.git
	branch = 13.0